@using WebClient.Models
@model ZamowienieViewModel

@{
    ViewBag.Title = "Szczegóły";
}

<h2>@ViewBag.Title</h2>

<style>
    .dl-horizontal dt {
        width: 240px;
    }

    .dl-horizontal dd {
        margin-left: 260px;
    }
</style>

<div>
    <h4>Zamowienie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumerFaktury)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumerFaktury)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZlozeniaZamowienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZlozeniaZamowienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzyPrzyjetoZamowienie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzyPrzyjetoZamowienie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPrzyjeciaZamowienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrzyjeciaZamowienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zaplacono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaplacono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzyZrealizowanoZamowienie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzyZrealizowanoZamowienie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRealizacjiZamowienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRealizacjiZamowienia)
        </dd>

    </dl>

    <table class="table">
        <caption>Pozycje zamówienia</caption>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].TowarNazwa)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].Ilosc)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].TowarCena)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].TowarVat)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].Netto)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].Vat)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].Brutto)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pozycja in Model.Pozycje)
            {
                <tr>
                    <td> @Html.DisplayFor(model => pozycja.TowarNazwa)</td>
                    <td> @Html.DisplayFor(model => pozycja.Ilosc)</td>
                    <td> @Html.DisplayFor(model => pozycja.TowarCena)</td>
                    <td> @Html.DisplayFor(model => pozycja.TowarVat)</td>
                    <td> @Html.DisplayFor(model => pozycja.Netto)</td>
                    <td> @Html.DisplayFor(model => pozycja.Vat)</td>
                    <td> @Html.DisplayFor(model => pozycja.Brutto)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> <strong> Suma: </strong> </td>
                <td> <strong> @Html.DisplayFor(model => model.SumaNetto) zł</strong> </td>
                <td> <strong> @Html.DisplayFor(model => model.SumaVat) zł</strong> </td>
                <td> <strong> @Html.DisplayFor(model => model.SumaBrutto) zł</strong> </td>
            </tr>
        </tfoot>
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
