@using WebClient.Models
@model IEnumerable<ZamowienieListaViewModel>

@{
    ViewBag.Title = "Lista zamówień";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj zamówienie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumerFaktury)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZlozeniaZamowienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CzyPrzyjetoZamowienie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrzyjeciaZamowienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaplacono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CzyZrealizowanoZamowienie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRealizacjiZamowienia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumerFaktury)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZlozeniaZamowienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CzyPrzyjetoZamowienie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPrzyjeciaZamowienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaplacono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CzyZrealizowanoZamowienie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRealizacjiZamowienia)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id }) |

            @if (string.IsNullOrEmpty(item.NumerFaktury))
            {
                 @Html.ActionLink("Pobierz fakture", "Pobierz", "Faktura", new { id=item.Id })
            }
            else
            {
                @Html.ActionLink("Generuj fakture", "Pobierz", "Faktura", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
