@using WebClient.Models
@model FakturaViewModel


@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Faktura sprzedaży</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <p align="right" style="padding-right: 10px;">
        <strong style="font-size:22px;"> FAKTURA VAT</strong><br />
        <strong style="font-size:18px;"> @Html.DisplayFor(model => model.NumerFaktury) </strong> <br />
        <br />
        Data sprzedaży: @Html.DisplayFor(model => model.DataSprzedazy)<br />
        Data wystawienia: @Html.DisplayFor(model => model.DataWystawienia)<br />
    </p>

   <table style="border-spacing: 10px; width:100%;">
       <tr>
           <td width="48%;">
               <h4 style="padding:0px; margin:0px;"> SPRZEDAWCA</h4> <hr />
               Hurtownia spożywcza <br />
               Warszawska 2, 94-222 Marki
               
           </td>
           <td width="4%"></td>
           <td width="48%;">
               <h4 style="padding:0px; margin:0px;"> NABYWCA </h4> <hr />
               @Html.DisplayFor(model => model.Klient) <br />
               @Html.DisplayFor(model => model.KlientAdres) 
           </td>
       </tr>
   </table>
    <br />
    <table class="table">
        <caption style="text-align:center;">Pozycje faktury</caption>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].Towar)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].Ilosc)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].CenaJednostkowa)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].StawkaVat)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].KwotaNetto)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].WartoscVat)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycje[0].KwotaBrutto)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pozycja in Model.Pozycje)
            {
                <tr>
                    <td> @Html.DisplayFor(model => pozycja.Towar)</td>
                    <td> @Html.DisplayFor(model => pozycja.Ilosc)</td>
                    <td> @Html.DisplayFor(model => pozycja.CenaJednostkowa)</td>
                    <td> @Html.DisplayFor(model => pozycja.StawkaVat)</td>
                    <td> @Html.DisplayFor(model => pozycja.KwotaNetto)</td>
                    <td> @Html.DisplayFor(model => pozycja.WartoscVat)</td>
                    <td> @Html.DisplayFor(model => pozycja.KwotaBrutto)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> <strong> Suma: </strong> </td>
                <td> <strong> @Html.DisplayFor(model => model.KwotaNetto) zł</strong> </td>
                <td> <strong> @Html.DisplayFor(model => model.WartoscVat) zł</strong> </td>
                <td> <strong> @Html.DisplayFor(model => model.KwotaBrutto) zł</strong> </td>
            </tr>
        </tfoot>
    </table>
    <br />

    <p align="right" style="padding-right: 40px;">
         Do zapłaty: <strong>@Html.DisplayFor(model => model.KwotaBrutto)</strong> zł<br />
    </p>
</body>
</html>